
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:800px;
  font-size: 65px;
  font-variation-settings:
    "wdth" 100;
}







/* headar */

body{
    max-width: 1280px;
    margin: 0 auto;
}


nav ul li{
    
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 50px;
    font-size: 1.25rem;
}

.header-banner{
    display: flex;
    margin-top: 100px;
    justify-content: end;
    align-items: end;
}
.banner{
    align-items: center;
}

.header-tille{
    max-width: 530px;
}

.FRESH, .Our{
    color: rgba(233, 90, 8, 1);
}

.FLOWERS{
    color: rgba(233, 90, 8, 1);
}

.header-description{
    max-width: 530px;
}


/* plants style */

.plants{
    margin-top: 120px;
    text-align: center;
}


.plants-tittle{
    font-size: 3.12rem;
}

.plants-description{
    
    font-size: 1.50rem;
    text-align: center;
}

.plants-image{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 20px;
    margin: 49px;
    
}

.btn{
    width: 270px;
    height: 50px;
    font-size: 1rem;
    font-weight: 600px;
    color: white;
    background-color: rgba(233, 90, 8, 1);
    border: none;
}

.plans-header{
    font: 1em sans-serif;
    text-align: center;
}

.plants-sub-tittle{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

/* plants-lover-style */

.plants-lover{
    display: flex;
    justify-content: start;
    align-items: center;
}

.plants-lover-image{
    max-width: 100%;
}

.plants-lover-tittle-des{
    margin-left: 100px;
    align-items: center;
}

.plants-description-01, li{
    max-width: 330px;
    text-align: start;
    
}

.plants-lover-image{
    width: 540px;
    height: 597px;
}

.trusted-image{
    position: relative;
    max-width: 200px;
    margin-bottom: -110px;
    margin-left: 410px;
}









@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }

    .header-banner{
        flex-direction: column-reverse;
    }
    .banner{
        text-align: center;
    }

    .plants-image{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;

    }
    .plants-description{
        max-width: 530px;
    }

    .plants-lover{
        flex-direction: column;
    }

    .plants-lover-tittle-des{
        margin-left:20px;
        
    }

    .trusted-image{
        display: none;
    }

    .plants-description-01, li{
        max-width: 600px;
        font-size: 1.02rem;
    }
    .plants-tittle{
        font-size: 2.2rem;
    }

    
}